{% extends 'base.html' %}
{% block title %}
{{ super() }} - {{ title }}
{% endblock %}
{% block items %}
    <div class="row">
    <h2 class="col-12 col-md-6 display-2">Раздел Куртки</h2>
        <h3 class="col-12 col-md-6 display-2">категории:</h3>
        <h3 class="col-12 col-md-6 display-2"><i>Спортивные</i></h3>
        <h3 class="col-12 col-md-6 display-2"><i>Повседневные</i></h3>

    </div>
    <div class="col-12 col-md-6 col-lg-4">
            <p> Большой ассортимент разных курток, спортивных, кожанных, повседневных </p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <p>Представлены бренды: много разных... </p>
           <table border="solid">

        </div>
{% endblock %}